[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	pr = !/Users/dylanr/Documents/src/personal/llm-pr/pr.sh
	br-cleanup = !/Users/dylanr/Documents/src/personal/scripts/git-br-cleanup.sh
[user]
	email = detour1999@gmail.com
	name = Dylan Richard
[core]
	hooksPath = /Users/dylanr/.git_hooks
[push]
	autoSetupRemote = true
